<html>
  <head>
  	<title>Parts of speech tagging on static content</title>
	
	<!-- This page loads some static sentences and performs parts of speech tagging on them. -->
	
	<!-- Load static sentences -->
    <script type="text/javascript" src="http://omnib.in/hthas/sentences.js"></script>
    
	<!-- The server returns content with these styles applied to raw/tagged sentences -->
	<style type="text/css">
		.rawSent {
			color: purple
		}
		.taggedSent {
			color: blue
		}
	</style>
    
	<!-- DOJO javascript libraries -->
    <script type="text/javascript" 
			src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.1/dojo/dojo.xd.js"
      		djConfig="parseOnLoad: true">
    </script>
	<script type="text/javascript">
       // Load Dojo's code relating to the Button widget
       dojo.require("dijit.form.Button");
    </script>
	
	<!-- Page logic -->
	<script type="text/javascript">
		//Makes an AJAX call to do part-of-speech tagging on all of the sentences
		function tagSentences() {
	      dojo.xhrGet( {
	        url: 'http://' + window.location.host + '/tagsentences',
			
			content: {
				"sentences": dojo.toJson(sentences)
			},
			
	        timeout: 20000, // Time in milliseconds
	        
	        // The LOAD function will be called on a successful response.
	        load: function(response, ioArgs) {
	          dojo.byId("taggedSentences").innerHTML = response;
			  //document.write(response.responseText);
	          return response;
	        },
	
	        // The ERROR function will be called in an error case.
	        error: function(response, ioArgs) {
	          console.error("HTTP status code: ", ioArgs.xhr.status);
			  dojo.byId("taggedSentences").innerHTML = response;
	          return response;
	          }
	        });
	    }
		
  	</script>
  </head>

  <body>
  
	<button dojoType="dijit.form.Button" id="simpleButton">
        Tag Sentences
		<script type="dojo/method" event="onClick">
		   tagSentences();
        </script>
    </button>
	(please allow about 10 seconds for the tagging to complete)
	
	<div id="taggedSentences"></div>

  </body>
  
</html>
